<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf-template01</title>
</head>
<body>
	<h1>Spring MVC + Thymeleaf Hello word example</h1>
	<p th:text="${message}"></p>
</body>
</html>